* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #0e0e0e;
    background-attachment: fixed;
    background-blend-mode: multiply;

    color: #FFF;
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    /* margin-bottom: 25px; */
}

.header {
    text-align: center;
    margin-top: 23px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    padding: 15px;
    background-color: #9999993d;
    border: 1.5px solid #99999965;
    border-radius: 25px;
}


.content {
    text-align: left;
    margin: 20px;
    padding: 1rem;
    color: #dbdbdb;
}

.cards {
    max-width: 96%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    border-radius: 25px;
    padding: 10px;
}

@media (min-width: 500px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1000px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

ul {
    font-size: 19px;
    text-align: left;
    margin-left: 5%;
}

li {
    padding: 5px;
}

h1 {
    font-size: 38px;
}

h2 {
    margin-top: 15px;
    font-size: 27px;
    color: #b2b2b2;
}

button{
    padding: 10px;
}

.home {
    background-color: #4a4a4a;
    padding: 10px;
    color: #FFF;
    margin-top: 15px;
}