* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: url(background.png);
    background-attachment: fixed;
    background-color: #000;
    color: #000;
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
}

#main {
    background: rgba(0, 0, 0, 0.253);
    box-shadow: 0 0 40px #00275A;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius:25px;
}

#mainwrapper {
    display: table;
    text-align: center;
    margin: 0 auto;
}

#game {
    display: table;
    text-align: center;
    margin-top: 8px;
    padding-top: 30px;
    border-radius:25px;
    width: 100%;
    height: 100%;
  }

#content {
    background: rgba(0, 0, 0, 0.253);
    box-shadow: 0 0 40px #00275A;
    text-align: center;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius:25px;
    padding-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#long{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
}

#footer {
    display: flex;
    justify-content: center;
    bottom: 0px;
    position: absolute;
}

h1 {
    color: #ffffff;
    font-size: 44px;
    font-weight: normal;
    text-shadow: 1px 1px 2px #A7A7A7;
}

h2 {
    color: #ffffff;
    font-weight: normal;
    font-size: 25px;
    text-shadow: 1px 1px 2px #D4D4D4;
}

h3 {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.534);
    font-weight: normal;
    font-size: 15px;
    text-shadow: 1px 1px 2px #000;
}

h4 {
    color: #ffffff;
    font-weight: normal;
    font-size: 25px;
    text-shadow: 1px 1px 2px #000000;
}

ul {
    text-align: left;
    margin-top: 10px;
}

p {
    font-size: 10px;
    margin-top: 5px;
    color: rgb(197, 197, 197);
}

a {

    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
    text-decoration: none;
    font-size: 15px;
    line-height: 28px;
}

b {

    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
    text-decoration: none;
    font-size: 15px;
    line-height: 23px;
}

a:hover,
a:focus {
    text-decoration: underline;
}